<p id="notice" class="text-center"><%= notice %></p>
<div class="jumbotron text-center">
  <h1>Life Hacks</h1>
</div>

<hr>

<div class="container">
    <div class="row">
    <% @hacks.each do |hack| %>
        <div class="col-md-3">
          <p><%= hack.name %></p>
          <%= image_tag hack.image.url, :class => 'img-responsive img-size' %>
          <p><%= hack.body %></p>
          <%= link_to 'View Life Hack', hack_path(hack) %>
        </div>
    <% end %>
    </div>
</div>
