<p id="notice" class="text-center"><%= notice %></p>

<div class="container main-wrap-index panel-footer">
  <ul class="nav nav-tabs">
    <%= form_tag hacks_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
      <div class="form-group">
          <%= text_field_tag :search, params[:search], class: "form-control" %>
      </div>
      <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
    <% end %>
    <li role="presentation" class="pull-left"><%= link_to "Create LifeHack", new_hack_path %></li>
    <li role="presentation" class="pull-right"><%= link_to "Date", hacks_path(sort: 'created_at', desc: @desc) %></li>
    <li role="presentation" class="pull-right"><%= link_to "Name", hacks_path(sort: 'name', desc: @desc) %></li>
    <li role="presentation" id="sub-nav" class="pull-right not-active"><a href="#">Sort By:</a></li>
  </ul>
    <div class="row text-center t-wrap">
    <% if @hacks.count == 0 %>
      <h3>No Hacks Match Your Search.</h3>
      <%= link_to "Go Back", hacks_path, class: "btn btn-default" %>
    <% else %>
      <% @hacks.each do |hack| %>
        <%= link_to hack_path(hack) do %>
          <div class="col-md-2 thumb-wrapper well well-sm">
            <h4 class="hack-name-wrap"><%= hack.name %></h4>
            <img src="<%= hack.image.url %>" class="img-responsive img-size thumbnail">
            <h5>@<%= hack.user.name %></h5>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


