<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="form-group">
      <%= f.label :name, class: "control-label" %>
      <%= f.text_field :name, class: "controls" %>
    </div>
    <div class="form-group">
      <%= f.label :email, class: "control-label" %>
      <%= f.text_field :email, class: "controls" %>
    </div>
    <div class="form-group">
      <%= f.label :password, class: "control-label" %>
      <%= f.password_field :password, class: "controls" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class: "control-label" %>
      <%= f.password_field :password_confirmation, class: "controls" %>
    </div>
    <div class="actions btn btn-default"><%= f.submit %></div>
  <% end %>
</form>

