<!DOCTYPE html>
<html>
<head>
  <title>LifeHacks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <ul class="nav nav-tabs main-nav navbar-fixed-top">
    <% if current_user %>
      <li role="presentation" id="brand-name"><%= link_to 'Life Hacks', hacks_path %></li>
      <li role="presentation" class="pull-right"><%= link_to 'Log Out', session_path('dummy'), method: :delete %></li>
      <li role="presentation" class="pull-right"><%= link_to "New LifeHack", new_hack_path %></li>
      <!-- <li role="presentation" class="name-badge pull-right no-click"><a href="#"> Welcome, <%= current_user.name %> </a></li> -->
    <% else %>
      <li role="presentation" class=""><%= link_to 'Life Hacks', hacks_path %></li>
      <li role="presentation" class="pull-right"><%= link_to 'Log In', login_path %></li>
      <li role="presentation" class="pull-right"><%= link_to 'Sign Up', new_user_path %></li>
    <% end %>
  </ul>
  <%= yield %>


</body>
</html>
